@charset "UTF-8";
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Dejima';
  src: url(../fonts/dejima-mincho-f.ttf);
}
/* line 11, ../../_scss/style.scss */
body {
  color: #fff;
}

/* line 15, ../../_scss/style.scss */
.container {
  display: block;
  width: 960px;
  margin: 0 auto;
}

/* line 21, ../../_scss/style.scss */
.ff-serif {
  font-family: serif;
}

/* line 25, ../../_scss/style.scss */
.global-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding-bottom: 5px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}
/* line 34, ../../_scss/style.scss */
.global-navbar .navbar-wrapper {
  height: 66px;
  padding-bottom: 2px;
  border-bottom: 3px solid #e67928;
}
/* line 38, ../../_scss/style.scss */
.global-navbar .navbar-wrapper .navbar-brand {
  float: left;
}
/* line 40, ../../_scss/style.scss */
.global-navbar .navbar-wrapper .navbar-brand .brand-anchor {
  overflow: hidden;
  display: block;
  width: 120px;
  height: 0;
  padding-top: 65px;
  background: url(../img/logo2.svg) center center no-repeat;
  background-size: contain;
}
/* line 50, ../../_scss/style.scss */
.global-navbar .navbar-wrapper .navbar-nav {
  overflow: hidden;
  float: right;
}
/* line 53, ../../_scss/style.scss */
.global-navbar .navbar-wrapper .navbar-nav .nav-item {
  float: left;
  width: 130px;
  height: 65px;
}
/* line 57, ../../_scss/style.scss */
.global-navbar .navbar-wrapper .navbar-nav .nav-item .nav-anchor {
  display: block;
  height: 65px;
  color: #fff;
  opacity: 0.6;
  text-decoration: none;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
/* line 64, ../../_scss/style.scss */
.global-navbar .navbar-wrapper .navbar-nav .nav-item .nav-anchor .ja {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}
/* line 70, ../../_scss/style.scss */
.global-navbar .navbar-wrapper .navbar-nav .nav-item .nav-anchor .en {
  display: block;
  margin-top: 8px;
  text-align: center;
  font-size: 10px;
}
/* line 76, ../../_scss/style.scss */
.global-navbar .navbar-wrapper .navbar-nav .nav-item .nav-anchor:hover {
  opacity: 1.0;
}

/* line 85, ../../_scss/style.scss */
.index-header {
  position: relative;
  width: 100%;
  background: center center;
  background-size: cover;
  box-sizing: border-box;
  z-index: 9999;
}
/* line 1, ../../_scss/_header-nav.scss */
.index-header .header-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 760px;
  height: 240px;
  margin: -120px -380px;
}
/* line 8, ../../_scss/_header-nav.scss */
.index-header .header-nav .left-nav {
  float: left;
}
/* line 11, ../../_scss/_header-nav.scss */
.index-header .header-nav .right-nav {
  float: right;
}
/* line 13, ../../_scss/_header-nav.scss */
.index-header .header-nav .right-nav .nav-item {
  float: right;
}
/* line 17, ../../_scss/_header-nav.scss */
.index-header .header-nav .nav-list {
  width: 260px;
}
/* line 19, ../../_scss/_header-nav.scss */
.index-header .header-nav .nav-list .nav-item {
  width: 240px;
  height: 70px;
  text-align: center;
  line-height: 66px;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}
/* line 27, ../../_scss/_header-nav.scss */
.index-header .header-nav .nav-list .nav-item:nth-child(2) {
  margin: 15px 0;
}
/* line 30, ../../_scss/_header-nav.scss */
.index-header .header-nav .nav-list .nav-item .nav-anchor {
  overflow: hidden;
  position: relative;
  display: block;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  z-index: 1;
  -moz-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
/* line 40, ../../_scss/_header-nav.scss */
.index-header .header-nav .nav-list .nav-item .nav-anchor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 230px;
  margin: -115px 0;
  background: #fff;
  z-index: -1;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
  -o-transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
  -webkit-transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
  transition: margin 0.3s ease, width 0.3s ease, background 0.3s ease;
}
/* line 53, ../../_scss/_header-nav.scss */
.index-header .header-nav .nav-list .nav-item .nav-anchor:hover {
  border-color: #000;
}
/* line 55, ../../_scss/_header-nav.scss */
.index-header .header-nav .nav-list .nav-item .nav-anchor:hover::after {
  width: 190px;
  margin-left: -95px;
  margin-right: -95px;
  background: #000;
}
/* line 68, ../../_scss/_header-nav.scss */
.index-header .header-nav .header-brand {
  overflow: hidden;
  float: left;
  width: 240px;
  height: 0;
  padding-top: 240px;
  background: url(../img/logo2.svg) center center no-repeat #000;
  background-size: 80%;
}
/* line 1, ../../_scss/_slider.scss */
.index-header .bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #000;
}
/* line 9, ../../_scss/_slider.scss */
.index-header .bg-slide .slide-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  -moz-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
/* line 19, ../../_scss/_slider.scss */
.index-header .bg-slide .slide-item.active {
  opacity: 1;
  z-index: 1;
}
/* line 23, ../../_scss/_slider.scss */
.index-header .bg-slide .slide-item.next {
  z-index: 2;
}
/* line 94, ../../_scss/style.scss */
.index-header .scroller {
  position: absolute;
  left: -50%;
  bottom: 0;
  display: block;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  background: #000;
}

/* line 106, ../../_scss/style.scss */
.copy {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 0 20px;
  background: #000;
  line-height: 30px;
  color: #fff;
  z-index: 9999;
  font-size: 14px;
}

/* line 118, ../../_scss/style.scss */
.main-area {
  overflow: hidden;
  width: 100%;
  padding-bottom: 50px;
  background: #000;
}
/* line 124, ../../_scss/style.scss */
.main-area.pt-navbar {
  padding-top: 100px;
}
/* line 127, ../../_scss/style.scss */
.main-area .main-content {
  width: 720px;
}
/* line 130, ../../_scss/style.scss */
.main-area .sidebar {
  width: 240px;
}
/* line 133, ../../_scss/style.scss */
.main-area .wide {
  width: 100%;
}
/* line 136, ../../_scss/style.scss */
.main-area .left {
  float: left;
}
/* line 139, ../../_scss/style.scss */
.main-area .right {
  float: right;
}
/* line 142, ../../_scss/style.scss */
.main-area .center {
  margin: 0 auto;
}
/* line 145, ../../_scss/style.scss */
.main-area .content-header {
  overflow: hidden;
  width: 100%;
  height: 350px;
  background-position: center center;
  background-size: cover;
}
/* line 151, ../../_scss/style.scss */
.main-area .content-header .header-outline {
  position: relative;
  width: 100%;
  height: 270px;
  margin-top: 80px;
}
/* line 156, ../../_scss/style.scss */
.main-area .content-header .header-outline h2 {
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  background: rgba(0, 0, 0, 0.6);
}
/* line 163, ../../_scss/style.scss */
.main-area .content-header .header-outline h2 .ja,
.main-area .content-header .header-outline h2 .en {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
}
/* line 172, ../../_scss/style.scss */
.main-area .content-header .header-outline h2 .ja {
  height: 60px;
  margin-top: -40px;
  font-family: Dejima;
  font-size: 55px;
  line-height: 60px;
}
/* line 179, ../../_scss/style.scss */
.main-area .content-header .header-outline h2 .en {
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  font-size: 18px;
  line-height: 40px;
}
/* line 189, ../../_scss/style.scss */
.main-area h3 {
  font-family: Dejima;
  background: #000;
  line-height: 50px;
  font-size: 30px;
}
/* line 194, ../../_scss/style.scss */
.main-area h3 .en {
  margin-left: 12px;
  font-size: 12px;
  color: #aaa;
  line-height: 50px;
}

/* line 1, ../../_scss/_parts.scss */
.btn {
  display: table;
  text-decoration: none;
  color: #fff;
}
/* line 5, ../../_scss/_parts.scss */
.btn.ghost {
  margin: 0 auto;
  padding: 1em 1.5em;
  border: 1px solid #fff;
  background: none;
  font-size: 13px;
  cursor: pointer;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}
/* line 13, ../../_scss/_parts.scss */
.btn.ghost:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.6);
}
/* line 17, ../../_scss/_parts.scss */
.btn.ghost.arrow-left::before {
  content: "\f363";
  margin-right: 0.5em;
  font-family: "Ionicons";
}

/* line 2, ../../_scss/_sidebar.scss */
.sidebar h4 {
  display: block;
  margin-top: 30px;
  padding: 12px 10px;
  border-left: 2px solid #050505;
  border-top: 2px solid #050505;
  font-size: 20px;
  font-family: Dejima;
  text-align: center;
  color: #fff;
}
/* line 14, ../../_scss/_sidebar.scss */
.sidebar h4:first-child {
  margin-top: 15px;
}
/* line 19, ../../_scss/_sidebar.scss */
.sidebar .list.no-mark {
  width: 160px;
  margin: 0 auto;
}
/* line 23, ../../_scss/_sidebar.scss */
.sidebar .list li {
  margin: 8px 0;
  font-size: 15px;
}
/* line 26, ../../_scss/_sidebar.scss */
.sidebar .list li a {
  color: #e67928;
}
/* line 28, ../../_scss/_sidebar.scss */
.sidebar .list li a:hover {
  text-decoration: none;
}
/* line 32, ../../_scss/_sidebar.scss */
.sidebar .list li .anchor-dummy {
  color: #b68058;
}
/* line 1, ../../_scss/_menu-tree.scss */
.sidebar .menu-tree {
  width: 170px;
  margin: 0 35px;
  font-family: Dejima;
}
/* line 5, ../../_scss/_menu-tree.scss */
.sidebar .menu-tree.track {
  position: fixed;
  top: 80px;
}
/* line 9, ../../_scss/_menu-tree.scss */
.sidebar .menu-tree dt {
  margin-top: 20px;
}
/* line 11, ../../_scss/_menu-tree.scss */
.sidebar .menu-tree dt span {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #fff;
  line-height: 35px;
  font-size: 40px;
  color: #000;
}
/* line 22, ../../_scss/_menu-tree.scss */
.sidebar .menu-tree dd {
  margin-left: 35px;
}
/* line 24, ../../_scss/_menu-tree.scss */
.sidebar .menu-tree dd a {
  position: relative;
  display: block;
  height: 25px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
}
/* line 31, ../../_scss/_menu-tree.scss */
.sidebar .menu-tree dd a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  display: block;
  width: 6px;
  height: 6px;
  margin: -3px;
  border-radius: 100%;
  background: #fff;
}
/* line 43, ../../_scss/_menu-tree.scss */
.sidebar .menu-tree dd a:hover {
  color: #e67928;
}
/* line 45, ../../_scss/_menu-tree.scss */
.sidebar .menu-tree dd a:hover::before {
  background: #e67928;
}

/* line 207, ../../_scss/style.scss */
.global-footer {
  position: relative;
  width: 100%;
  background: url(../img/footer-bg.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 9999;
}
/* line 214, ../../_scss/style.scss */
.global-footer .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 220px;
  height: 0;
  margin: -110px;
  padding-top: 220px;
  border: 2px solid  #fff;
  box-sizing: border-box;
  background: url(../img/logo2.svg) center center no-repeat;
  background-size: 180px;
}

/* line 2, ../../_scss/_index.scss */
.main-area .recommend {
  width: 680px;
  margin: 0 auto;
}
/* line 6, ../../_scss/_index.scss */
.main-area .recommend .eyecatch img {
  width: 680px;
}
/* line 10, ../../_scss/_index.scss */
.main-area .recommend .details {
  overflow: hidden;
  margin: 20px 16px;
}
/* line 13, ../../_scss/_index.scss */
.main-area .recommend .details .name {
  float: left;
  margin-bottom: 10px;
  font-size: 20px;
  color: #e67928;
  font-family: Dejima;
}
/* line 20, ../../_scss/_index.scss */
.main-area .recommend .details .prace {
  float: right;
  color: #aaa;
  font-size: 14px;
}
/* line 25, ../../_scss/_index.scss */
.main-area .recommend .details .comment {
  clear: both;
  margin: 6px 20px 0;
  font-size: 14px;
  color: #ccc;
}

/* line 36, ../../_scss/_index.scss */
.sidebar .open-calendar {
  width: 100%;
  margin-top: 15px;
  color: #fff;
  text-align: center;
}
/* line 41, ../../_scss/_index.scss */
.sidebar .open-calendar .year {
  font-size: 13px;
}
/* line 44, ../../_scss/_index.scss */
.sidebar .open-calendar .month {
  font-size: 30px;
  line-height: 50px;
}
/* line 48, ../../_scss/_index.scss */
.sidebar .open-calendar .calendar {
  width: 240px;
}
/* line 50, ../../_scss/_index.scss */
.sidebar .open-calendar .calendar th, .sidebar .open-calendar .calendar td {
  box-sizing: border-box;
  text-align: center;
}
/* line 53, ../../_scss/_index.scss */
.sidebar .open-calendar .calendar th:not(:nth-child(7n)), .sidebar .open-calendar .calendar td:not(:nth-child(7n)) {
  border-right: 1px solid #111;
}
/* line 57, ../../_scss/_index.scss */
.sidebar .open-calendar .calendar th {
  height: 25px;
  padding-top: 10px;
  padding-bottom: 8px;
  line-height: 25px;
  font-size: 14px;
}
/* line 64, ../../_scss/_index.scss */
.sidebar .open-calendar .calendar td {
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #969696;
}
/* line 69, ../../_scss/_index.scss */
.sidebar .open-calendar .calendar td.today, .sidebar .open-calendar .calendar td.holiday, .sidebar .open-calendar .calendar td.close {
  font-weight: bold;
}
/* line 74, ../../_scss/_index.scss */
.sidebar .open-calendar .calendar td.today {
  text-decoration: underline;
}
/* line 77, ../../_scss/_index.scss */
.sidebar .open-calendar .calendar td.holiday {
  color: #e67928;
}
/* line 80, ../../_scss/_index.scss */
.sidebar .open-calendar .calendar td.close {
  color: lightgreen;
}
/* line 84, ../../_scss/_index.scss */
.sidebar .open-calendar .calendar tr:last-child td {
  padding-bottom: 10px;
}
/* line 88, ../../_scss/_index.scss */
.sidebar .open-calendar .means {
  margin-top: 15px;
}
/* line 90, ../../_scss/_index.scss */
.sidebar .open-calendar .means > span {
  font-size: 14px;
}
/* line 93, ../../_scss/_index.scss */
.sidebar .open-calendar .means .holiday {
  color: #e67928;
}
/* line 96, ../../_scss/_index.scss */
.sidebar .open-calendar .means .close {
  color: lightgreen;
}
/* line 99, ../../_scss/_index.scss */
.sidebar .open-calendar .means .details {
  margin-top: 5px;
}
/* line 101, ../../_scss/_index.scss */
.sidebar .open-calendar .means .details a {
  color: #aaa;
  font-size: 13px;
  text-decoration: none;
}
/* line 105, ../../_scss/_index.scss */
.sidebar .open-calendar .means .details a:hover {
  color: #fff;
}

/* line 2, ../../_scss/_menu.scss */
.menu h3 {
  margin-top: 20px;
}
/* line 5, ../../_scss/_menu.scss */
.menu h4 {
  position: relative;
  overflow: hidden;
  margin: 8px 10px 0;
  z-index: 1;
}
/* line 10, ../../_scss/_menu.scss */
.menu h4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #555555));
  background-image: -moz-linear-gradient(left, #ffffff, #555555);
  background-image: -webkit-linear-gradient(left, #ffffff, #555555);
  background-image: linear-gradient(to right, #ffffff, #555555);
  z-index: -1;
}
/* line 20, ../../_scss/_menu.scss */
.menu h4 .ja,
.menu h4 .en {
  display: block;
  height: 30px;
  line-height: 30px;
  background: #000;
}
/* line 27, ../../_scss/_menu.scss */
.menu h4 .ja {
  float: left;
  padding-right: 10px;
  font-size: 20px;
  font-family: Dejima;
}
/* line 33, ../../_scss/_menu.scss */
.menu h4 .en {
  float: right;
  padding-left: 8px;
  font-size: 14px;
  color: #888;
}
/* line 40, ../../_scss/_menu.scss */
.menu .menu-list {
  width: 640px;
  margin: 0 auto;
}
/* line 43, ../../_scss/_menu.scss */
.menu .menu-list li {
  overflow: hidden;
  margin: 15px 0;
}
/* line 46, ../../_scss/_menu.scss */
.menu .menu-list li .menu-left {
  float: left;
  width: 420px;
  padding: 8px 0;
}
/* line 50, ../../_scss/_menu.scss */
.menu .menu-list li .menu-left h5 {
  float: left;
  font-size: 20px;
  font-family: Dejima;
  color: #e67928;
}
/* line 56, ../../_scss/_menu.scss */
.menu .menu-list li .menu-left .price {
  float: right;
  font-size: 14px;
  font-weight: bold;
  color: #aaa;
}
/* line 62, ../../_scss/_menu.scss */
.menu .menu-list li .menu-left p {
  clear: both;
  padding: 8px 14px;
  font-size: 13px;
  line-height: 20px;
}
/* line 69, ../../_scss/_menu.scss */
.menu .menu-list li .menu-right {
  float: right;
  width: 200px;
}
/* line 72, ../../_scss/_menu.scss */
.menu .menu-list li .menu-right .thumb {
  width: 200px;
  height: 150px;
  background-position: center center;
  background-size: cover;
}

/* line 1, ../../_scss/_info.scss */
.shop {
  margin-top: 20px;
}
/* line 3, ../../_scss/_info.scss */
.shop .shop-pics {
  position: relative;
  width: 550px;
}
/* line 6, ../../_scss/_info.scss */
.shop .shop-pics .slides {
  width: 550px;
  height: 350px;
}
/* line 9, ../../_scss/_info.scss */
.shop .shop-pics .slides li {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 350px;
}
/* line 17, ../../_scss/_info.scss */
.shop .shop-pics .controller {
  display: -webkit-flex;
  display: flex;
}
/* line 19, ../../_scss/_info.scss */
.shop .shop-pics .controller button {
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: #aaa;
  cursor: pointer;
}
/* line 27, ../../_scss/_info.scss */
.shop .shop-pics .controller button.prev-btn, .shop .shop-pics .controller button.next-btn {
  display: block;
  font-size: 35px;
}
/* line 31, ../../_scss/_info.scss */
.shop .shop-pics .controller button.prev-btn:hover, .shop .shop-pics .controller button.next-btn:hover {
  color: #e67928;
}
/* line 35, ../../_scss/_info.scss */
.shop .shop-pics .controller button.prev-btn {
  padding-right: 20px;
}
/* line 38, ../../_scss/_info.scss */
.shop .shop-pics .controller button.next-btn {
  padding-left: 20px;
}
/* line 41, ../../_scss/_info.scss */
.shop .shop-pics .controller button.pager-btn {
  width: 20px;
  text-align: center;
  font-size: 14px;
}
/* line 45, ../../_scss/_info.scss */
.shop .shop-pics .controller button.pager-btn.active {
  color: #e67928;
}
/* line 50, ../../_scss/_info.scss */
.shop .shop-pics .controller .pager {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
/* line 58, ../../_scss/_info.scss */
.shop .shop-info table {
  width: 400px;
  margin-top: 15px;
}
/* line 61, ../../_scss/_info.scss */
.shop .shop-info table th {
  width: 100px;
  font-family: Dejima, serif;
  text-align: center;
  vertical-align: middle;
  color: #d9a37a;
  font-size: 16px;
}
/* line 69, ../../_scss/_info.scss */
.shop .shop-info table td {
  padding: 10px 0;
  font-size: 14px;
  line-height: 20px;
}
/* line 73, ../../_scss/_info.scss */
.shop .shop-info table td a {
  float: right;
  display: block;
  height: 20px;
  padding: 0 5px;
  line-height: 20px;
  margin-right: 8px;
  background: #e67928;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
/* line 84, ../../_scss/_info.scss */
.shop .shop-info table td a:hover {
  color: #e67928;
  background: #000;
}
/* line 92, ../../_scss/_info.scss */
.shop .shop-info table tr:not(:first-child) th,
.shop .shop-info table tr:not(:first-child) td {
  border-top: 1px solid #222;
}
/* line 101, ../../_scss/_info.scss */
.shop .book {
  margin-top: 20px;
}
/* line 105, ../../_scss/_info.scss */
.shop .map {
  clear: both;
  width: 100%;
  padding-top: 25px;
}
/* line 109, ../../_scss/_info.scss */
.shop .map .menu-canvas {
  width: 100%;
}

/* line 3, ../../_scss/_reserve.scss */
.reserve .form-large .form-col {
  clear: both;
  overflow: hidden;
  width: 100%;
}
/* line 7, ../../_scss/_reserve.scss */
.reserve .form-large .form-col label {
  float: left;
  display: block;
  width: 150px;
  text-align: right;
  font-size: 20px;
  font-family: Dejima;
  line-height: 60px;
}
/* line 16, ../../_scss/_reserve.scss */
.reserve .form-large .form-col input,
.reserve .form-large .form-col textarea {
  display: block;
  width: 540px;
  margin: 10px 0 10px 180px;
  border: none;
  background: #222;
  box-sizing: border-box;
  font-size: 16px;
  color: #eee;
}
/* line 61, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.reserve .form-large .form-col input:-moz-placeholder,
.reserve .form-large .form-col textarea:-moz-placeholder {
  color: #666;
}
/* line 64, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.reserve .form-large .form-col input::-moz-placeholder,
.reserve .form-large .form-col textarea::-moz-placeholder {
  color: #666;
}
/* line 67, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.reserve .form-large .form-col input:-ms-input-placeholder,
.reserve .form-large .form-col textarea:-ms-input-placeholder {
  color: #666;
}
/* line 56, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.reserve .form-large .form-col input::-webkit-input-placeholder,
.reserve .form-large .form-col textarea::-webkit-input-placeholder {
  color: #666;
}
/* line 29, ../../_scss/_reserve.scss */
.reserve .form-large .form-col input.error,
.reserve .form-large .form-col textarea.error {
  position: relative;
  border: 1px solid #e67928;
}
/* line 32, ../../_scss/_reserve.scss */
.reserve .form-large .form-col input.error::after,
.reserve .form-large .form-col textarea.error::after {
  content: "!";
  position: absolute;
  right: 0;
  top: 0;
  color: #e67928;
}
/* line 41, ../../_scss/_reserve.scss */
.reserve .form-large .form-col input {
  height: 40px;
  padding: 10px 15px;
  line-height: 20px;
}
/* line 46, ../../_scss/_reserve.scss */
.reserve .form-large .form-col textarea {
  padding: 15px;
}
/* line 49, ../../_scss/_reserve.scss */
.reserve .form-large .form-col .datetime {
  float: right;
  width: 540px;
}
/* line 52, ../../_scss/_reserve.scss */
.reserve .form-large .form-col .datetime input {
  float: left;
  margin: 10px 0;
}
/* line 55, ../../_scss/_reserve.scss */
.reserve .form-large .form-col .datetime input.date {
  width: 200px;
}
/* line 58, ../../_scss/_reserve.scss */
.reserve .form-large .form-col .datetime input.time {
  width: 150px;
}
/* line 63, ../../_scss/_reserve.scss */
.reserve .form-large .form-col.textarea {
  height: 120px;
}
/* line 65, ../../_scss/_reserve.scss */
.reserve .form-large .form-col.textarea textarea {
  height: 100px;
  resize: none;
}
/* line 70, ../../_scss/_reserve.scss */
.reserve .form-large .form-col .help-area {
  clear: both;
  height: 15px;
  margin: 0 0 10px 180px;
  font-size: 12px;
  line-height: 15px;
}
/* line 76, ../../_scss/_reserve.scss */
.reserve .form-large .form-col .help-area .error {
  color: #e67928;
}

/* line 1, ../../_scss/_news.scss */
.news-article {
  position: relative;
  margin-top: 50px;
  padding-bottom: 10px;
}
/* line 5, ../../_scss/_news.scss */
.news-article::after {
  content: "";
  position: absolute;
  left: 35px;
  bottom: -1px;
  width: 680px;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTU1NTU1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(50%, #555555), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(left, #000000, #555555, #000000);
  background-image: -webkit-linear-gradient(left, #000000, #555555, #000000);
  background-image: linear-gradient(to right, #000000, #555555, #000000);
}
/* line 14, ../../_scss/_news.scss */
.news-article:first-child {
  margin-top: 25px;
}
/* line 18, ../../_scss/_news.scss */
.news-article .header h3 {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 8px;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 30px;
}
/* line 26, ../../_scss/_news.scss */
.news-article .header h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(left, #000000, #aaaaaa);
  background-image: -webkit-linear-gradient(left, #000000, #aaaaaa);
  background-image: linear-gradient(to right, #000000, #aaaaaa);
}
/* line 36, ../../_scss/_news.scss */
.news-article .header .date {
  margin: 10px 10px 0 0;
  text-align: right;
  font-size: 12px;
  color: #aaa;
}
/* line 43, ../../_scss/_news.scss */
.news-article .body {
  width: 660px;
  margin: 15px auto;
  font-size: 14px;
  line-height: 1.75;
}
/* line 48, ../../_scss/_news.scss */
.news-article .body p {
  margin: 0.5em 0;
}
/* line 51, ../../_scss/_news.scss */
.news-article .body .h1,
.news-article .body .h2,
.news-article .body .h3 {
  font-family: Dejima;
}
/* line 56, ../../_scss/_news.scss */
.news-article .body .h1 {
  font-size: 1.8em;
}
/* line 59, ../../_scss/_news.scss */
.news-article .body .h2 {
  font-size: 1.4em;
}
/* line 62, ../../_scss/_news.scss */
.news-article .body .h3 {
  font-size: 1.1em;
}
/* line 66, ../../_scss/_news.scss */
.news-article .body ul li {
  margin: 6px 15px 6px 25px;
  text-indent: -1.2em;
}
/* line 69, ../../_scss/_news.scss */
.news-article .body ul li::before {
  content: "・";
  margin-right: 0.2em;
}
/* line 76, ../../_scss/_news.scss */
.news-article .footer {
  width: 650px;
  margin: 20px auto 0;
}
/* line 79, ../../_scss/_news.scss */
.news-article .footer .posted {
  font-size: 12px;
  color: #888;
}
/* line 82, ../../_scss/_news.scss */
.news-article .footer .posted .date,
.news-article .footer .posted .time {
  margin: 0 5px;
  font-size: 13px;
  color: #bbb;
}
/* line 89, ../../_scss/_news.scss */
.news-article .footer .category {
  font-size: 13px;
  color: #999;
}
/* line 92, ../../_scss/_news.scss */
.news-article .footer .category a {
  padding: 0 5px;
  color: #aaa;
}
/* line 95, ../../_scss/_news.scss */
.news-article .footer .category a:hover {
  text-decoration: none;
  color: #e67928;
}

/* line 105, ../../_scss/_news.scss */
.sidebar .open-time {
  margin-top: 15px;
  text-align: center;
  font-size: 28px;
}
/* line 110, ../../_scss/_news.scss */
.sidebar .lo-time {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #bbb;
}

/* line 236, ../../_scss/style.scss */
#fc2_footer {
  height: 14px;
  margin-top: -20px;
  z-index: 9999;
}
/* line 240, ../../_scss/style.scss */
#fc2_footer br {
  display: none;
}
