& {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
}

&.menu {
	width: 184px;
	height: 0;
	margin: -60px -132px;
	padding: 120px 40px 0;
	background: url(../img/headline/menu.png) center center no-repeat rgba(#000, 0.65);
}