.shop {
	margin-top: 20px;
	.shop-pics {
		position: relative;
		width: 550px;
		.slides {
			width: 550px;
			height: 350px;
			li {
				position: absolute;
				top: 0;
				left: 0;
				width: 550px;
				height: 350px;
			}
		}
		.controller {
			@include display-flex;
			button {
				height: 40px;
				padding: 0;
				border: none;
				background: none;
				outline: none;
				color: #aaa;
				cursor: pointer;
				&.prev-btn,
				&.next-btn {
					display: block;
					font-size: 35px;
					&:hover {
						color: $orange;
					}
				}
				&.prev-btn {
					padding-right: 20px;
				}
				&.next-btn {
					padding-left: 20px;
				}
				&.pager-btn {
					width: 20px;
					text-align: center;
					font-size: 14px;
					&.active {
						color: $orange;
					}
				}
			}
			.pager {
				@include flex(1);
				text-align: center;
			}
		}
	}

	.shop-info {
		table {
			width: 400px;
			margin-top: 15px;
			th {
				width: 100px;
				font-family: Dejima, serif;
				text-align: center;
				vertical-align: middle;
				color: mix($orange, #ccc);
				font-size: 16px;
			}
			td {
				padding: 10px 0;
				font-size: 14px;
				line-height: 20px;
				a {
					float: right;
					display: block;
					height: 20px;
					padding: 0 5px;
					line-height: 20px;
					margin-right: 8px;
					background: $orange;
					font-size: 12px;
					text-decoration: none;
					color: #000;
					&:hover {
						color: $orange;
						background: #000;
					}
				}
			}
			tr {
				&:not(:first-child) {
					th,
					td {
						border-top: 1px solid #222;
					}
				}
			}
		}
	}

	.book {
		margin-top: 20px;
	}

	.map {
		clear: both;
		width: 100%;
		padding-top: 25px;
		.menu-canvas {
			width: 100%;
		}
	}
}